input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 0.05rem;
  left: 0.5rem;
  font-size: 0.7rem;
  margin-bottom: 3px;
}

.inputText {
  font-size: 1.5rem;
  width: 200px;
  height: 35px;
  padding-left: 0.2rem;
}

.floating-label{
  position: absolute;
  pointer-events: none;
  top: 0.4rem;
  left: 0.5rem;
  transition: 0.2s ease all;
  font-size: 1.5rem;
  opacity: 0.5;
}

.form-wrapper{
  position: relative;
}